body {
    background-color: white;
}

#header {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    height: 100px;
    z-index: 1;
    background-color: #FF9000;
    visibility: visible;
}

#imageHeader {
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
    width: 100px;
    z-index: 1;
    visibility: visible;
}

#titleHeader {
    position: absolute;
    left: 110px;
    top: 25px;
    bottom: 25px;
    right: 50px;
    z-index: 1;
    font-family: times;
    font-size: 28pt;
    text-align: center;
    color: blue;
    visibility: visible;
}

#nav {
    position: absolute;
    left: 10px;
    top: 120px;
    width: 200px;
    bottom: 10px;
    z-index: 1;
    background-color: #FF8000;
    visibility: visible;
}

#Centre {
    position: absolute;
    left: 220px;
    right: 10px;
    top: 120px;
    bottom: 10px;
    z-index: 0;
    background-color: #FFFFFF;
    visibility: visible;
    border-style: solid;
    border-width: 1px;
}

.blocNav {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: white;
    color: black;
    visibility: visible;
}

.PageCentrale {
    width: 100%;
    height: 100%;
    display: block;
}

a:hover {
    background-color: white;
    color: red;
    text-decoration: blink;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
    overflow: scroll;
    border: none;
}

.fontdefault {
    color: #336699;
    font-family: arial;
    font-size: 10pt;
    font-weight: 600
}

.fonttete {
    background-color: #6786ba;
    color: white;
    font-family: arial;
    font-size: 10pt;
    font-weight: 600
}

img.icone {
    height: 20px;
}